<div class="header">
    <div class="header_top tr">&nbsp;</div>
    <div class="header_con fn-clear">
        <div class="logo"><a href="index.html"><img src="/temp/{{basic_info.logo}}" alt="贷鼠网" /></a></div>
        <div class="nav" id="topmenuhref">
            <a href="{% url 'index' %}" id="menu_index">首　页</a>
            <a href="{% url 'product' %}" id="menu_product">产品介绍</a>
            <a href="{% url 'story' %}" id="menu_story">成功案例</a>
            <a href="{% url 'service' %}" id="menu_service">服务项目</a>
            <a href="{% url 'program' %}" id="menu_program">方案流程</a>
            <a href="{% url 'news' %}" id="menu_news">新闻动态</a>
            <a href="{% url 'aboutus' %}" id="menu_aboutus">关于我们</a>
        </div>
    </div>
</div>