{% extends 'base.html' %}


{% block script %}
<script type="text/javascript">
function dispDiv(id){
	for(var i=1;i<=2;i++){
		if(id==i){
			document.getElementById("div_disp_"+i).style.display="block";
			document.getElementById("a_menu_"+i).setAttribute("class","active");
		}else{
			document.getElementById("div_disp_"+i).style.display="none";
			document.getElementById("a_menu_"+i).removeAttribute("class");
		}
	}
}
</script>

{% endblock %}

{% block content %}
<div class="banner1"></div>
{% include 'include/graybox.html' %}

<div class="w1000 ma0 pt40 pb40 fn-clear">
    <ul class="side_menu">
        <li><a href="javascript:void(0)" tabindex="1" onclick="dispDiv(1)" id="a_menu_1" class="active">关于我们</a></li>
        <li><a href="javascript:void(0)" tabindex="2" onclick="dispDiv(2)" id="a_menu_2">联系我们</a></li>
    </ul>

    <div id="div_disp_1" class="singlepege">
        <h2>关于我们</h2>
        <div class="sj jj">
            {{basic_info.content|safe}}
        </div>
    </div>
    <div id="div_disp_2" style="display:none" class="singlepege">

    	<h2>联系我们</h2>
        <div class="sj jj">

                <p>公司名称：{{basic_info.company_name}}</p>
                <p>公司地址：{{basic_info.address}}</p>
                <p>公司电话：{{basic_info.tel}}</p>
          
        </div>
    </div>

    <div id="div_disp_3" style="display:none" class="singlepege">
    	
    </div>
</div>
{% endblock %}