{% extends 'base.html' %}

{% block content %}
<div class="banner1" style="background:url('/static/images/falc.jpg') no-repeat center top"></div>
{% include 'include/graybox.html' %}
 <div class="w1000 ma20">
	<div class="main_til"><span class="main_til_con"><em class="f_30">方案</em>流程<span class="english_til">Solution process</span></span><div class="main_til_site">当前位置：<a href="{% url 'index' %}">首页</a><em> &gt; </em>方案流程</div><div class="main_til_bg"></div></div>
    <div class="weservices fn-clear">
    	<div class="apple_box fn-left"><div class="apple_box_imgbox"><img src="/static/images/example/dyd.png" width="290"/></div>
		
		</div>
	
		<div class="w530 fn-right">
		<h1 class="f_18"><strong>互联网金融全站系统解决专家，提供全方位专业解决方案！</strong></h1>
		<p class="mt10">规范化制作标准，个性化实施方案，给您打造最合适的网贷平台。精品源于沉淀：贷鼠网借贷系统经过多年完善已经满足众多网贷平台建站的需要，且有专业的网站策划，设计，技术开发。高品质、优服务，一次合作，永远信赖，让您体验从未有过的真诚服务。</p>
		
		</div>
    </div>
 </div>

 <div class="w100p bgef mt50">
	  <dl class="w1000 ma0 liucheng fn-clear">
		  <dt><em class="f_24">联系</em>沟通<br/><span class="english_til">contact</span></dt>
		  <dd class="first">
		  <div class="lc_title"><em>01</em><span>提交您的需求</span></div>
		  <i class="icos_lc01"></i>
		  <p>客户提出网站建设基本需求，包括：设计需求以及功能需求；</p>
			</dd>
		  <dd>
		  <div class="lc_title"><em>02</em><span>项目时长<br />预估及报价</span></div>
		  <i class="icos_lc02"></i>
		  <p>我们在一个工作日内对客户的需求做出时间预估及项目报价；</p>
			</dd>
			<dd>
		  <div class="lc_title"><em>03</em><span>评估考察<br />签署合同</span></div>
		  <i class="icos_lc03"></i>
		  <p>我公司将对合作的客户予以评估考察，评估考察通过后，方能与客户签署建站服务合同。<br/></p>
			</dd>
	  </dl>
  </div>



<dl class="w1000 ma0 liucheng fn-clear">
  <dt><em class="f_24">设计</em>制作<br/><span class="english_til">design</span></dt>
  <dd class="first">
  <div class="lc_title"><em>04</em><span>首页设计</span></div>
  <i class="icos_lc04"></i>
  <p>和客户充分沟通，充分理解客户设计需求后，设计出网站首页；</p>
	</dd>
  <dd>
  <div class="lc_title"><em>05</em><span>首页确认</span></div>
  <i class="icos_lc05"></i>
  <p>客户对首页进行审核，我们根据客户的反馈对页面做出调整，并最终确认；</p>
	</dd>
	<dd>
  <div class="lc_title"><em>06</em><span>内页设计及确认</span></div>
  <i class="icos_lc06"></i>
  <p>依次完成内页页面设计，提交客户进行审核，并最终形成确认；</p>
	</dd>
</dl>
<div class="w100p bgef">
	<dl class="w1000 ma0 liucheng fn-clear">
	  <dt><em class="f_24">测试</em>完成<br/><span class="english_til">ACHIEVE</span></dt>
	  <dd class="first">
	  <div class="lc_title"><em>07</em><span>程序开发<br />及页面测试</span></div>
	  <i class="icos_lc07"></i>
	  <p>根据页面和需求进行程序的开发及前后台页面的整合测试；</p>
		</dd>
	  <dd class="mb10">
	  <div class="lc_title"><em>08</em><span>验收阶段</span></div>
	  <i class="icos_lc08"></i>
	  <p>我们网站完成后，客户在我们的测试网址上进行验收</p>
		</dd>
		<dd>
	  <div class="lc_title"><em>09</em><span>项目完成</span></div>
	  <i class="icos_lc09"></i>
	  <p>网站相关文件提供给客户，至此，整个项目完成;</p>
		</dd>
	</dl>
</div>
{% endblock %}