{% extends 'base.html' %}



{% block content %}
<div class="banner1" style="background:url('/static/images/fwxm.jpg') no-repeat center top"></div>
{% include 'include/graybox.html' %}

<div class="slogan">
	<a href="javascript:void(0)">
		<div class="conbox slogan_con"><span class="fontcolor3">贷鼠网-</span><span class="fontcolor4">互联网金融解决方案专家</span></div>
	</a>
</div>

<div class="ma20">
		<div class=" conbox superiority">
			<ul>
				<li>
					<span class="intro_title">平台搭建运营体系</span>
					<span class="intro_fig intro_fig_1"></span>
					<span class="intro_details">贷动力将P2P网贷行业的资源进行整合</span>
					<span class="intro_details"><a href="serviceDetail.html">查看详情</a></span>
				</li>
				<li>
					<span class="intro_title">平台营销策划体系</span>
					<span class="intro_fig intro_fig_2"></span>
					<span class="intro_details">贷动力将P2P网贷行业的资源进行整合</span>
					<span class="intro_details"><a href="serviceDetail.html">查看详情</a></span>
				</li>
				<li>
					<span class="intro_title">平台品牌公信力建设体系</span>
					<span class="intro_fig intro_fig_3"></span>
					<span class="intro_details">贷动力将P2P网贷行业的资源进行整合</span>
					<span class="intro_details"><a href="serviceDetail.html">查看详情</a></span>
				</li>
			</ul>
		</div>

		<div class="dynamic">


			<div class="tit">
				<div class="conbox">
					<div class="tit-title pdlqi">
						<span class="fontcolor5">贷鼠网-</span><span class="fontcolor6">三大优势</span>
					</div>
				</div>
				<div class="tit-cont">
					<div class="conbox">
						<ul>
							<li>
								<div class="sp-left"><img src="/static/images/yous1.png"></div>
								<div class="sp-right">
									<p style="font-size: 18px;color:#595959">经验优势</p>
									<p>很多年互联网金融行业经验</p>
									<p>数十家平台运营经验</p>
									<p>上百家平台合作经验</p>
									<p><a href="#">寻找行业痛点，提供最优解决方案 &gt;</a></p>
								</div>
							</li>
							<li>
								<div class="sp-left"><img src="/static/images/yous2.png"></div>
								<div class="sp-right">
									<p style="font-size: 18px;color:#595959">资源优势</p>
									<p>2000多家门户类、新闻类和行业类网站</p>
									<p>多渠道网盟全网精准覆盖</p>
									<p>搜索引擎锁定终端用户</p>
									<p><a href="#">助力品牌发展 培育核心用户 &gt;</a></p>
								</div>
								
							</li>
							<li>
								<div class="sp-left"><img src="/static/images/yous3.png"></div>
								<div class="sp-right">
									<p style="font-size: 18px;color:#595959">服务优势</p>
									<p>前期沟通洽谈，客户服务项目立项</p>
									<p>制定项目解决方案</p>
									<p>项目效果评估</p>
									<p><a href="#">60天 轻松搭建p2p平台 &gt;</a></p>
								</div>
								
							</li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>	
	</div>

{% endblock %}